/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#topbar 
{
    font:Verdana;
    font-style:italic;
    font-size:14px;
    color:white;
    text-align:right;
    background:url('pics/coffey.jpg');
    background-color:rgb(81,71,61);
    height:235px;
    background-position:center center;
    background-repeat:no-repeat;
    overflow:hidden;
    
}

#container
{
    width:600px;
    padding:0;
    margin:0 auto ;
    border:1px solid red;
    }
#menu
{
    overflow:hidden;
    display:block;
    background-color:rgb(81,71,61);
}
#menu ul li 
{
    list-style-type:none;
    display:inline-block;
    height:25px;
    margin:0;
    padding:0;
    text-align:center;
    background-color:rgb(81,71,61);
}
#menu li a 
{
    display:block;
    padding:15px;
    margin:0;
    height:30px;
    width:0 auto;
    background-color:gray;
    color:white;
    text-decoration:none;
    text-transform:capitalize;
}
#menu a
{
    display:none;
    
}
#menu .active a
{
    background-color:rgb(234,231,210);
    color:gray;
}

#content
{
    background-color:rgb(234,231,210);
    width:600px;
    padding:0;
    border:1px solid gray;
    margin:0; 
}

#maincontent
{
    float:left;
    width:335px;
    padding:0;
    margin:0; 
}
#maincontent img
{
    float:left;
    padding-right:5px;
}
#maincontent h1
{
    font:Verdana;
    font-size:24px;
    color:gray;
}
#subcontent
{
    float:right;
    width:250px;
    padding:0;
    margin:0; 
}
#subcontent h1
{
    font:Verdana;
    font-size:18px;
    color:gray;
}
#subcontent h2
{
    font-family:"Times New Roman", Times, serif;
    font-size:14px;
    color:gray;
    font-weight:normal;
}
#subcontent p
{
    font-size:13px;
}
#subcontent ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    color:gray;
}

#bottomcontent
{
    clear:both;
    width:600px;
    margin:0;
    font-style:italic;
    color:gray;
}



    a:link {color:white;}  /* unvisited link */
    a:visited {color:#white;}  /* visited link */
    a:hover {color:rgb(192,192,192);}  /* mouse over link */
    a:active {color:gray;}  /* selected link */ 
    
p
{
    font:"Times New Roman";
    color:gray;
}
